<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <title>HAR Embryo Images</title>
    <script src='http://code.jquery.com/jquery-latest.min.js' type='text/javascript'></script>
  </head>
  <body>
    <div id="toc">
      <h4>HARs</h4>
      <ul>
        {% for har in hars|sort %}
          <li><a href="#har_{{ har }}">{{ hars[har]['name'] }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="container">
      {% for har in hars|sort %}
        <div class="row">
          <div class="col1">
            <h1>{{ hars[har]['name'] }} <a class="section_link" id="har_{{ har }}">&para;</a></h1>
            {% if hars[har]['aliases'] %}
            <p>
              <b>Aliases</b>&nbsp;&nbsp;&nbsp;
              {% for alias in hars[har]['aliases'] %}
                HAR {{ alias }}{% if not loop.last %},{% endif %}
              {% endfor %}
            </p>
            {% endif %}
            {% if hars[har]['bracketed-genes'] %}
            <p>
              <b>Bracketed genes</b>&nbsp;&nbsp;&nbsp;
              {% for gene in hars[har]['bracketed-genes'] %}
                <a class="link" target="_blank" href="http://www.google.com/search?q={{ gene }}">{{ gene }}</a>{% if not loop.last %},{% endif %}
              {% endfor %}
            </p>
            {% endif %}
            <p>
              <b>Human&ndash;Chimp difference</b>&nbsp;&nbsp;&nbsp;
              {{ hars[har]['species-difference'] }}
            </p>
          </div>
        </div>
        <div class="row">
          {% for species in hars[har]['species'] %}
            <div class="col2">
              <h2>{{ species }}</h2>
              <p>
                <b>Development stage</b>&nbsp;&nbsp;&nbsp;
                {{ hars[har]['species'][species]['stage'] }}
              </p>
              <p>
                <b>Expression</b>&nbsp;&nbsp;&nbsp;
                {{ hars[har]['species'][species]['expression'] }}
              </p>
              <p>
                <b>HAR in genome</b>&nbsp;&nbsp;&nbsp;
                <a href="{{ genome_url_prefixes[species] }}{{ hars[har]['species'][species]['genome-coords']|urlencode }}" target="_blank" class="link">
                  click here
                </a>
              </p>
              {% if hars[har]['species'][species]['consistent-activity-domains'] %}
                <div class="domains">
                  <b>Consistent activity domains</b> <span class="help" content="The activity domains are listed below with the number of embryo images exhibiting the activity domain.">?</span>
                  <ul>
                  {% for domain in hars[har]['species'][species]['consistent-activity-domains'] %}
                    <li>{{ domain[0] }} ({{ domain[1] }})</li>
                  {% endfor %}
                  </ul>
                </div>
              {% endif %}
              {% if hars[har]['species'][species]['suggestive-activity-domains'] %}
                <div class="domains">
                  <b>Suggestive activity domains</b> <span class="help" content="The activity domains are listed below with the number of embryo images exhibiting the activity domain.">?</span>
                  <ul>
                    {% for domain in hars[har]['species'][species]['suggestive-activity-domains'] %}
                      <li>{{ domain[0] }} ({{ domain[1] }})</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              {% for img_num in hars[har]['species'][species]['imgs']|sort %}
                  <a href="../imgs/{{ har }}/{{ species }}/{{ img_num }}.tif" target="_blank">
                    <img src="../imgs/{{ har }}/{{ species }}/{{ img_num }}-small.png">
                  </a>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
        <div class="space"></div>
      {% endfor %}
    </div>
    <div id="help-content"></div>
    <script type="text/javascript">
      var help_content = $('#help-content');
      $('.help').mouseenter(function() {
          help_content.show();
          help_content.text($(this).attr('content'));
          var pos = $(this).offset();
          pos.top -= 70;
          help_content.offset(pos);
      });
      $('.help').mouseleave(function() {
          help_content.hide();
      });
    </script>
  </body>
</html>
