body {
  margin: 1em 0 5em 0;
  color: #444;
  font-family: Century Gothic, sans-serif;
  font-size: 17px;
}

h2 {
  text-transform: capitalize;
}

.space {
  height: 7em;
}

a {
  color: #444;
  text-decoration: none;
  border-bottom: dotted 1px;
}

a:hover {
  border-bottom: solid 1px;
}

img {
  padding-bottom: 0.7em;
}

    .tooltip{
        display: inline;
        position: relative;
    }
    
    .tooltip:hover:after{
        background: #333;
        background: rgba(0,0,0,.8);
        border-radius: 5px;
        bottom: 26px;
        color: #fff;
        content: attr(title);
        left: 20%;
        padding: 5px 15px;
        position: absolute;
        z-index: 98;
        width: 220px;
    }
    
    .tooltip:hover:before{
        border: solid;
        border-color: #333 transparent;
        border-width: 6px 6px 0 6px;
        bottom: 20px;
        content: "";
        left: 50%;
        position: absolute;
        z-index: 99;
    }

#toc {
  position: fixed;
  left: 1em;
  top: 1em;
  font-size: 0.8em;
  background-color: #E2E2E2;
  padding: 1em;
  border-radius: 0.6em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#toc h4 {
  margin: 0 0 0.5em 0;
  text-align: right;
}

#toc ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
  margin: 0;
}

#toc ul li {
  text-align: right;
}

#toc a {
  border-bottom: none;
}

#toc a:hover {
  border-bottom: solid 1px;
}

.section_link {
  visibility: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  padding-left: 8em;
}

.row {
  margin: 0;
}

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.col1 {
  width: 100%;
  margin: 0;
  float: left;
}

.col2 {
  width: 50%;
  margin: 0;
  float: left;
}
